* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}


.container {
    width: 100%;
    height: 100vh;
}
/* navbar  */
.nav-container {
    display: flex;
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #262626;
}

.nav-container .col-left,
.nav-container .col-right  {
    width: 15%; 
    display: flex;
    color: white;
    /* border: 1px solid red; */
}

.nav-container .col-middle {
    width: 70%;
}
/* colonna-sinistra  */
.icon-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 50%;
}

.icon-content-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 0.7em auto;
    height: 100%;
}

.icon-content-left i {
    font-size: 1.5em;
    margin-bottom: 0.3em;
}

.icon-content-left span {
    font-size: 0.8em;
}

.icon-container:hover {
    background-color: rgb(149, 149, 149);
    border: 1px solid lightgray;
    border-radius: 5px;
    color: black;
}

.icon-content-right {
   display: flex;
   align-items: center;
   padding: 0.5em;
}

.icon-content-right i {
    font-size: 0.5em;
}

.icon-content-right i:hover {
    background-color: rgb(228, 227, 227);
    color: black;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0.4em;
}

/* colonna destra  */
.nav-container .col-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1em;
}

.col-right a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 0.3em 1em;
    background-color: crimson;
    border-radius: 10px;
    transition: 0.5s;
}

.col-right a:hover {
    background-color: red;
}